.skill {
  color: rgb(94, 234, 212);
  display: inline-block;
  list-style-type: none;
  margin: 0.5rem 0.5rem 0 0;
  background-color: rgba(45, 212, 191, 0.1);
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}
