.experienceCard {
  display: flex;
  margin: 2rem auto;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

@media (min-width: 1000px) {
  .experienceCard {
    margin: 1rem auto;
    gap: 1rem;
  }
}

.experienceCard:hover {
  cursor: pointer;
  background-color: rgb(34, 49, 86);
}

.period {
  width: 25%;
  color: rgb(148, 163, 184);
}

.work {
  width: 75%;
}

.description {
  margin-top: 0.5rem;
  color: rgb(148, 163, 184);
}
