.experienceCard {
  margin: 2rem auto;
  border-radius: 0.5rem;
  padding: 1rem;
}

.period {
  color: rgb(148, 163, 184);
  margin-bottom: 1rem;
}

@media (min-width: 500px) {
  .experienceCard {
    display: flex;
    gap: 0.5rem;
  }

  .period {
    width: 25%;
  }

  .work {
    width: 75%;
  }
}

@media (min-width: 1000px) {
  .experienceCard {
    margin: 1rem auto;
    gap: 1rem;
  }
}

.experienceCard:hover {
  cursor: pointer;
  background-color: rgb(34, 49, 86);
}

.description {
  margin-top: 0.5rem;
  color: rgb(148, 163, 184);
}
